<div class="container main-container">
    <div class="row">
        <div class="container-title col-12" >
            <h1 class="title">
              El aroma mágico
            </h1>
        </div>
        <div class="container-img col-12" >
            <hr class="divider">
            <img src="assets/coffee.png" alt="Café">
            <hr class="divider">
        </div>
    </div>
    <div class="row">
        <div class="col-6 col-md-6 col-lg-6">
            <table class="table">
                <thead class="table-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Región</th>
                  </tr>
                </thead>
                <tbody>
                  <tr  *ngFor="let coffee of coffees" >
                    <td>{{ coffee.id }}</td>
                    <td>{{ coffee.nombre }}</td>
                    <td>{{ coffee.tipo }}</td>
                    <td>{{ coffee.region }}</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
    <div class="row">
        <p class="caption" id="origen">Total café de origen: {{ totalOrigen }}</p>
        <p class="caption" id="blend">Total café blend: {{ totalBlend }}</p>
    </div>
</div>